body{
    background-color: rgb(231, 231, 231);
    margin: 0;
}

nav ul {

    display: flex;
    list-style: none;
    gap: 30px;
    font-size: 1.60em;
    background-color: rgb(255, 255, 255);
    justify-content: end;
    margin-top: 0;
    box-shadow: 2px 2px 4px gray;
}


nav li {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    list-style: none;
    padding: 10px;
    cursor: pointer;
    

}
nav li a{
    text-shadow: 1px 1px 0 rgb(119, 118, 118);
    text-decoration: none;
    list-style: none;
    color: rgb(255, 174, 0);
    padding: 7px;
}
nav li a:hover{
    background-color: rgb(235, 235, 235);
    color: rgb(2, 203, 253);
}

